@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

*{
    font-family: 'Recursive', sans-serif;
}

body{
    background-image: url(./Assets/background.jpg);
    /* color: beige; */
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container{
    background-color: rgb(180, 223, 226);
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 20px;
    align-self: center;
}

.row{
    display: flex;
    flex-direction: row;
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container> .row {
    justify-content: space-evenly;
    width: 100%;
}

.profile-icon{
    border-radius: 50%;
    border: 2px solid ;
}

.name{
    margin: 20px 0;
    font-size: x-large;
    font-weight: bold;
}

.goal{
    font-size: xx-large;
    width: 200px;
    justify-content: space-evenly;
    align-items: center;
}

#strike-button{
    width: 300px;
    border-radius: 100px;
    border: none;
    font-size: large;
    color: white;
    background: linear-gradient(135deg,#c02425,#f0cb35);
    padding: 10px;
    margin-top: 50px;
    outline: none;
}

#strike-button:hover{
    box-shadow: 0 0 10px 0 black;
}

.score{
    margin: -80px 0 0;
    font-size: xx-large;
}

.score>span{
    margin: 0 5px;
}

#result{
    margin-top: 50px;
    background: linear-gradient(120deg, #c02425,#f0cb35);
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: bolder;
}

.btn {
    height: 25px;
    width: 25px;
    background-color: #6e6d66;
    border-radius: 50%;
    display: inline-block;
    justify-content: space-evenly;
  }